// GENERAL CLASS BT CONTAINER
// ============================================

a {
  &:hover, &:focus {
    text-decoration: none;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 768px) {
    width: 750px;
  }  
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1050px;
  }  
    
  
  
}

@media (min-width: 768px){
  h1 {
    font-size: $text-biggest;
    font-weight: 700;
  }
  h2 {
    font-size: $text-h2;
    font-weight: 700;
  }
} 

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-info {
  font-size: $text-info;
  color: $grey-semilight;
}

.hero {
  padding-top: 120px;
}

// TEXT

.subheader-text {
  font-size: 24px;
}

// MARGIN 

.mar-rgt {
  margin-right: 20px;
}

.mar-btm-10 {
  margin-bottom: 10px;
}

// BUTTON

.btn {
  font-size: 18px;
  padding: 18px 25px;
  position: relative;
  font-weight: bold;
  @media (max-width: $screen-xs-max){
    white-space: normal;
  }
  &.btn-secondary {
    background-color: $secondary;
    box-shadow: 0 4px 0 0 darken($secondary, 10%);
    color: $black;
  }
  &.btn-outline {
    background-color: transparent;
    border: 3px solid white;
    color: white;
    &:focus {
      border: 3px solid white!important;
      outline: transparent;
    }
    &:active {
      box-shadow: none;
      top: 0px!important;
    }
  }
  &:focus {
    // border: transparent; 
    outline: none;
  }
  &:active {
    box-shadow: none;
    top: 2px;
    outline: none;
  }
  
}

.btn-xs-block {
  @media (max-width: $screen-xs-max) { 
    .btn {
      display: block;
      width: 100%;
      margin: 0px 0px 10px 0px;
    }
  }
}

.form-control {
  padding: 18px 25px;
  height: auto;
  font-size: 18px;
  border: 1px solid transparent;

}

.input-group {
  .input-group-btn {
    &:last-child {
      >.btn {
        margin-top: -3px;
      }
    }
    .btn-secondary {
      padding: 16px 25px;
    }
  }
  &.btn-xs-block {
    @media (max-width: $screen-xs-max){
      width: 100%;
      input {
        display: block;
        border-radius: 4px!important;
        margin-bottom: 5px;
      }
      .input-group-btn {
        display: block;
        width: 100%;
        button {
          border-radius: 4px!important;
        }
      }
    }
  }
}

// ROW 

.row-centered {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;  
  @media (max-width: $screen-xs-max) {
    display: block;
  }
}

.row-padded {
  padding-top: 80px;
  padding-bottom: 90px;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}